<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="author" content="Alluminox Devellopers "/>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">	
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	
	 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
	<h1>403</h1>
	<p> Sorry , you <span th:text="${#httpServletRequest.remoteUser}"></span> dotn acces this page access denied</p>
	<a th:href="@{/home}">Home</a>
</body>

</html>